<web-app>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tadikamesra.controller.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ManajemenGuruServlet</servlet-name>
        <servlet-class>com.tadikamesra.controller.ManajemenGuruServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ManajemenGuruServlet</servlet-name>
        <url-pattern>/manajemenGuru</url-pattern>
    </servlet-mapping>
    

<filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.tadikamesra.controller.AuthFilter</filter-class>
</filter>

<filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/manajemenGuru</url-pattern>
</filter-mapping>
</web-app>
